.container{
    text-align: center;
}

.container h1{
    padding-top: 10%;
    font-size: 50px;
    padding-bottom: 5%;
}
.container mat-form-field{
    width: 40%;
}

.container .button1{
    margin-top: 3%;
    font-size: 150%;
    padding: 0.5% 5%;
    display: inline-block;
    margin-bottom: 2%;
}