<p style="margin-top: 2%;margin-bottom: 3%;">
    <mat-form-field style="margin-left: 35%; width: 30%;" class="example-full-width">
        <mat-label style="font-size: 130%;">Search hotel by name or city</mat-label>
        <input (input)=searchInput($event) matInput>
        <mat-icon [routerLink]= "['/search', search]" matSuffix>search</mat-icon>
      </mat-form-field>
    <button style="float: right; margin-right: 2%;"  mat-raised-button color="primary" type="submit" (click)="logout()">Logout</button>
</p>
<h1 style="margin: auto; width: 10%;">Hotels</h1>
<br>
<table class="table table-striped" style="width: 80%; margin: auto; border: 10px;">
    <thead>
    <tr>
      <th scope="col">Hotel ID</th>
      <th scope="col">Hotel Name</th>
      <th scope="col">Address</th>
      <th scope="col">Email</th>
      <th scope="col">Price</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let hotel of hotels">
      <td>
        {{ hotel.hotel_id }}
      </td>
      <td>
        {{ hotel.hotel_name }}
      </td>
      <td>{{ hotel.street }}, {{ hotel.city }}, {{ hotel.postal_code }}</td>
      <td>{{ hotel.email }}</td>
      <td>${{ hotel.price }}</td>
      <td><button mat-raised-button color="primary" [routerLink]="['/book', hotel.hotel_id, hotel.hotel_name]">Book</button></td>
    </tr>
    </tbody>
  </table>
  <br>
  <br>
  <h1 style="margin: auto; width: 12%;">Bookings</h1>
  <br>
  <table class="table table-striped" style="width: 80%; margin: auto; border: 10px;">
    <thead>
    <tr>
      <th scope="col">Hotel ID</th>
      <th scope="col">Booking Date</th>
      <th scope="col">Booking Start</th>
      <th scope="col">Booking end</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let booking of bookings">
      <td>
        {{ booking.hotel_id }}
      </td>
      <td>{{ booking.booking_date}}</td>
      <td>{{ booking.booking_start }}</td>
      <td>{{ booking.booking_end }}</td>
    </tr>
    </tbody>
  </table>

  

