.container{
    text-align: center;
}

.container h1{
    padding-top: 10%;
    font-size: 50px;
    padding-bottom: 5%;
}
.container mat-form-field{
    width: 40%;
    font-size: 120%;
}

.container .button1{
    margin-top: 3%;
    font-size: 150%;
    padding: 0.5% 5%;
    display: inline-block
}

.container .button2{
    margin-top: 2%;
    font-size: 150%;
    padding: 0.5% 4%;
    display: inline-block
}